---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"6224ec06-23fd-4305-a9c0-14a7bcd26fee","expires_at":"2018-05-01T19:02:04.645Z"}'
  recorded_at: Tue, 01 May 2018 18:42:04 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"add item test"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="6224ec06-23fd-4305-a9c0-14a7bcd26fee"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/874ec797-9b3d-4bfb-ab43-3512a1365b04
    body:
      encoding: UTF-8
      string: '{"name":"add item test","src":"http://todoable.teachable.tech/api/lists/874ec797-9b3d-4bfb-ab43-3512a1365b04","id":"874ec797-9b3d-4bfb-ab43-3512a1365b04"}'
  recorded_at: Tue, 01 May 2018 18:42:04 GMT
[...]
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/874ec797-9b3d-4bfb-ab43-3512a1365b04/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"added item"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="44116e37-8a0f-467b-969e-ac03dca4920f"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/874ec797-9b3d-4bfb-ab43-3512a1365b04/items/3c17d807-a7ab-4a3b-8477-acbc83700759
    body:
      encoding: UTF-8
      string: '{"name":"added item","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/874ec797-9b3d-4bfb-ab43-3512a1365b04/items/3c17d807-a7ab-4a3b-8477-acbc83700759","id":"3c17d807-a7ab-4a3b-8477-acbc83700759"}'
  recorded_at: Tue, 01 May 2018 18:42:04 GMT
recorded_with: VCR 4.0.0
