---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"9a6319a7-958e-4542-bce0-61ac815fa9ca","expires_at":"2018-05-01T20:04:56.797Z"}'
  recorded_at: Tue, 01 May 2018 19:44:56 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"add item test"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="9a6319a7-958e-4542-bce0-61ac815fa9ca"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/ba060545-2b93-4d4e-98a6-ec649dc6afce
    body:
      encoding: UTF-8
      string: '{"name":"add item test","src":"http://todoable.teachable.tech/api/lists/ba060545-2b93-4d4e-98a6-ec649dc6afce","id":"ba060545-2b93-4d4e-98a6-ec649dc6afce"}'
  recorded_at: Tue, 01 May 2018 19:44:56 GMT
[...]
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/ba060545-2b93-4d4e-98a6-ec649dc6afce/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"added item"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="d02286dc-2b52-4a17-a1d7-e3ba4e0355d4"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/ba060545-2b93-4d4e-98a6-ec649dc6afce/items/f4f7f5ef-da3a-40cb-bdba-9aa5b41f1267
    body:
      encoding: UTF-8
      string: '{"name":"added item","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/ba060545-2b93-4d4e-98a6-ec649dc6afce/items/f4f7f5ef-da3a-40cb-bdba-9aa5b41f1267","id":"f4f7f5ef-da3a-40cb-bdba-9aa5b41f1267"}'
  recorded_at: Tue, 01 May 2018 19:44:56 GMT
recorded_with: VCR 4.0.0
