---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"c138d232-3d48-45f8-952c-6760c69d96da","expires_at":"2018-05-01T18:38:53.266Z"}'
  recorded_at: Tue, 01 May 2018 18:18:53 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="c138d232-3d48-45f8-952c-6760c69d96da"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lists":[{"name":"list cf38fa19-427a-4a97-a04a-c6eb54b5a9c4","src":"http://todoable.teachable.tech/api/lists/672221c0-9a9b-4fbb-840f-cd00a075236b","id":"672221c0-9a9b-4fbb-840f-cd00a075236b"},{"name":"Beansauce
        3","src":"http://todoable.teachable.tech/api/lists/2517ce7a-7474-485e-8f62-f292697987b7","id":"2517ce7a-7474-485e-8f62-f292697987b7"},{"name":"Beansauce","src":"http://todoable.teachable.tech/api/lists/2abe37a8-caef-4536-add6-f911c982d376","id":"2abe37a8-caef-4536-add6-f911c982d376"}]}'
  recorded_at: Tue, 01 May 2018 18:18:53 GMT
recorded_with: VCR 4.0.0
