---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"bd9e1110-64fe-494b-8e8e-9c623d25f2dd","expires_at":"2018-05-01T20:04:55.095Z"}'
  recorded_at: Tue, 01 May 2018 19:44:54 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="bd9e1110-64fe-494b-8e8e-9c623d25f2dd"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lists":[]}'
  recorded_at: Tue, 01 May 2018 19:44:54 GMT
recorded_with: VCR 4.0.0
