---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"3b9ef24d-5273-4bd1-ac5c-4f7f376cbb86","expires_at":"2018-05-01T20:04:55.312Z"}'
  recorded_at: Tue, 01 May 2018 19:44:54 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"created list test"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="3b9ef24d-5273-4bd1-ac5c-4f7f376cbb86"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/13813ff0-0b44-4b30-895c-51ade64c82ac
    body:
      encoding: UTF-8
      string: '{"name":"created list test","src":"http://todoable.teachable.tech/api/lists/13813ff0-0b44-4b30-895c-51ade64c82ac","id":"13813ff0-0b44-4b30-895c-51ade64c82ac"}'
  recorded_at: Tue, 01 May 2018 19:44:54 GMT
recorded_with: VCR 4.0.0
