---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"59bf4649-00a7-4652-a1de-b0f92f6c46c2","expires_at":"2018-05-01T19:07:27.343Z"}'
  recorded_at: Tue, 01 May 2018 18:47:27 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"delete item test"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="59bf4649-00a7-4652-a1de-b0f92f6c46c2"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/1c0b9973-8cc3-4b11-81e3-fa43af0e40eb
    body:
      encoding: UTF-8
      string: '{"name":"delete item test","src":"http://todoable.teachable.tech/api/lists/1c0b9973-8cc3-4b11-81e3-fa43af0e40eb","id":"1c0b9973-8cc3-4b11-81e3-fa43af0e40eb"}'
  recorded_at: Tue, 01 May 2018 18:47:27 GMT
[...]
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/1c0b9973-8cc3-4b11-81e3-fa43af0e40eb/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"added item"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="eed8d363-ccb2-4bc7-9cc1-28cb4844ee2f"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/1c0b9973-8cc3-4b11-81e3-fa43af0e40eb/items/35688324-5c7e-44d7-94cf-a0f90833a5e8
    body:
      encoding: UTF-8
      string: '{"name":"added item","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/1c0b9973-8cc3-4b11-81e3-fa43af0e40eb/items/35688324-5c7e-44d7-94cf-a0f90833a5e8","id":"35688324-5c7e-44d7-94cf-a0f90833a5e8"}'
  recorded_at: Tue, 01 May 2018 18:47:27 GMT
[...]
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/1c0b9973-8cc3-4b11-81e3-fa43af0e40eb/items/35688324-5c7e-44d7-94cf-a0f90833a5e8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="6e12a107-1e34-4da8-b253-4db13711f8ff"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 May 2018 18:47:27 GMT
recorded_with: VCR 4.0.0
