---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"c72b9f4d-1f0d-46a3-bce6-f9b95f605afd","expires_at":"2018-05-01T20:04:57.868Z"}'
  recorded_at: Tue, 01 May 2018 19:44:57 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"delete item test"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="c72b9f4d-1f0d-46a3-bce6-f9b95f605afd"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/b715d1d3-569e-4494-a204-5c846bc259a8
    body:
      encoding: UTF-8
      string: '{"name":"delete item test","src":"http://todoable.teachable.tech/api/lists/b715d1d3-569e-4494-a204-5c846bc259a8","id":"b715d1d3-569e-4494-a204-5c846bc259a8"}'
  recorded_at: Tue, 01 May 2018 19:44:57 GMT
[...]
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/b715d1d3-569e-4494-a204-5c846bc259a8/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"added item"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="f67717ed-b1e6-4200-883e-399f3bed5921"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/b715d1d3-569e-4494-a204-5c846bc259a8/items/069f77ee-576b-4096-99a0-e3f2cf940eb8
    body:
      encoding: UTF-8
      string: '{"name":"added item","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/b715d1d3-569e-4494-a204-5c846bc259a8/items/069f77ee-576b-4096-99a0-e3f2cf940eb8","id":"069f77ee-576b-4096-99a0-e3f2cf940eb8"}'
  recorded_at: Tue, 01 May 2018 19:44:57 GMT
[...]
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/b715d1d3-569e-4494-a204-5c846bc259a8/items/069f77ee-576b-4096-99a0-e3f2cf940eb8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="a2553042-5e18-488b-b675-07731bd4b296"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 May 2018 19:44:57 GMT
recorded_with: VCR 4.0.0
