---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"0b1da245-9316-4074-a1bd-775d4a5b2c41","expires_at":"2018-05-01T20:04:56.393Z"}'
  recorded_at: Tue, 01 May 2018 19:44:55 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"delete list test"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="0b1da245-9316-4074-a1bd-775d4a5b2c41"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/18956e4a-529b-477c-9784-b9be84a785ab
    body:
      encoding: UTF-8
      string: '{"name":"delete list test","src":"http://todoable.teachable.tech/api/lists/18956e4a-529b-477c-9784-b9be84a785ab","id":"18956e4a-529b-477c-9784-b9be84a785ab"}'
  recorded_at: Tue, 01 May 2018 19:44:55 GMT
[...]
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/18956e4a-529b-477c-9784-b9be84a785ab
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="08df8f7a-53cd-4621-9a49-be4d87c6a097"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 May 2018 19:44:56 GMT
recorded_with: VCR 4.0.0
