---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"fc9ed620-4d1c-431d-af9d-570c6f6a1140","expires_at":"2018-05-01T18:57:09.337Z"}'
  recorded_at: Tue, 01 May 2018 18:37:09 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"delete list test"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="fc9ed620-4d1c-431d-af9d-570c6f6a1140"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/d8c769e9-651d-4c7a-ab7c-7646b6941236
    body:
      encoding: UTF-8
      string: '{"name":"delete list test","src":"http://todoable.teachable.tech/api/lists/d8c769e9-651d-4c7a-ab7c-7646b6941236","id":"d8c769e9-651d-4c7a-ab7c-7646b6941236"}'
  recorded_at: Tue, 01 May 2018 18:37:09 GMT
[...]
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/d8c769e9-651d-4c7a-ab7c-7646b6941236
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="c357927b-c2a5-423f-ab7c-11a647b66bec"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 May 2018 18:37:09 GMT
recorded_with: VCR 4.0.0
