---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"02b305cf-9324-4f77-938c-4488c52e14cc","expires_at":"2018-05-01T20:04:57.242Z"}'
  recorded_at: Tue, 01 May 2018 19:44:56 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"finish item test"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="02b305cf-9324-4f77-938c-4488c52e14cc"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/467edbb2-09a5-4af6-ae07-7f0bff177f84
    body:
      encoding: UTF-8
      string: '{"name":"finish item test","src":"http://todoable.teachable.tech/api/lists/467edbb2-09a5-4af6-ae07-7f0bff177f84","id":"467edbb2-09a5-4af6-ae07-7f0bff177f84"}'
  recorded_at: Tue, 01 May 2018 19:44:56 GMT
[...]
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/467edbb2-09a5-4af6-ae07-7f0bff177f84/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"added item"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="a01bfc03-1235-4218-b27f-226f5daaf9f3"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/467edbb2-09a5-4af6-ae07-7f0bff177f84/items/66dda884-dc93-4ce0-9ad0-9df743b9cc86
    body:
      encoding: UTF-8
      string: '{"name":"added item","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/467edbb2-09a5-4af6-ae07-7f0bff177f84/items/66dda884-dc93-4ce0-9ad0-9df743b9cc86","id":"66dda884-dc93-4ce0-9ad0-9df743b9cc86"}'
  recorded_at: Tue, 01 May 2018 19:44:56 GMT
[...]
- request:
    method: put
    uri: http://todoable.teachable.tech/api/lists/467edbb2-09a5-4af6-ae07-7f0bff177f84/items/66dda884-dc93-4ce0-9ad0-9df743b9cc86/finish
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="87ee8ee8-1b94-4ec3-a7f6-51681c60f2dd"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: added item finished
  recorded_at: Tue, 01 May 2018 19:44:57 GMT
recorded_with: VCR 4.0.0
