---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"6d5bff7b-323d-44a1-a377-7506d585ef16","expires_at":"2018-05-01T20:04:55.525Z"}'
  recorded_at: Tue, 01 May 2018 19:44:54 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"list info test"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="6d5bff7b-323d-44a1-a377-7506d585ef16"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/464cf3c9-cf36-4b1a-8400-7ebc9c3d6894
    body:
      encoding: UTF-8
      string: '{"name":"list info test","src":"http://todoable.teachable.tech/api/lists/464cf3c9-cf36-4b1a-8400-7ebc9c3d6894","id":"464cf3c9-cf36-4b1a-8400-7ebc9c3d6894"}'
  recorded_at: Tue, 01 May 2018 19:44:55 GMT
[...]
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists/464cf3c9-cf36-4b1a-8400-7ebc9c3d6894
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="bb88de21-f03a-4075-afd6-f3d0232c45c2"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"list info test","items":[]}'
  recorded_at: Tue, 01 May 2018 19:44:55 GMT
recorded_with: VCR 4.0.0
