---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"edefe0a9-9d4c-4378-b38f-9aba33d5da39","expires_at":"2018-05-01T18:54:40.645Z"}'
  recorded_at: Tue, 01 May 2018 18:34:40 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"update list test"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="edefe0a9-9d4c-4378-b38f-9aba33d5da39"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/610fee66-de5c-4321-ad55-6aa0d92b0dad
    body:
      encoding: UTF-8
      string: '{"name":"update list test","src":"http://todoable.teachable.tech/api/lists/610fee66-de5c-4321-ad55-6aa0d92b0dad","id":"610fee66-de5c-4321-ad55-6aa0d92b0dad"}'
  recorded_at: Tue, 01 May 2018 18:34:41 GMT
[...]
- request:
    method: patch
    uri: http://todoable.teachable.tech/api/lists/610fee66-de5c-4321-ad55-6aa0d92b0dad
    body:
      encoding: UTF-8
      string: '{"list":{"name":"updated_name"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="fe903c3b-32d5-42f7-91c1-c1ac3a23597e"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: updated_name updated
  recorded_at: Tue, 01 May 2018 18:34:41 GMT
recorded_with: VCR 4.0.0
