---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"82550906-9fbe-4e6b-8940-bfc0459b3e1a","expires_at":"2018-05-01T20:04:55.963Z"}'
  recorded_at: Tue, 01 May 2018 19:44:55 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"update list test"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="82550906-9fbe-4e6b-8940-bfc0459b3e1a"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/452eb384-d213-4117-8d28-a28d36264b9a
    body:
      encoding: UTF-8
      string: '{"name":"update list test","src":"http://todoable.teachable.tech/api/lists/452eb384-d213-4117-8d28-a28d36264b9a","id":"452eb384-d213-4117-8d28-a28d36264b9a"}'
  recorded_at: Tue, 01 May 2018 19:44:55 GMT
[...]
- request:
    method: patch
    uri: http://todoable.teachable.tech/api/lists/452eb384-d213-4117-8d28-a28d36264b9a
    body:
      encoding: UTF-8
      string: '{"list":{"name":"updated_name"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="ce371953-6bea-42a5-889c-fb1667f87044"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: updated_name updated
  recorded_at: Tue, 01 May 2018 19:44:55 GMT
recorded_with: VCR 4.0.0
